@import 'assets/styles/mixins';
@import 'assets/styles/placeholders';

.album__list-add {
  color: var(--text-item-hover);
  border-radius: 4px;
  border: 1px solid var(--border-primary);
  cursor: pointer;
  min-height: 246px;

  svg {
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 15px;
  }
}
