.btn-custom {
  padding: 8px 24px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  min-width: 140px;
  border-radius: 100px;
  color: var(--text-color);
  background-color: transparent;
  text-transform: inherit;

  border: none;
  outline: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  + .btn-custom {
    margin-left: 15px;
  }

  + .circle {
    margin-left: 10px;
  }

  + .column {
    margin-left: 0;
    margin-top: 10px;
  }

  // .btn-icon + .btn-text,
  // .btn-text + .btn-icon {
  //   margin-left: 4px;
  // }

  .btn-text {
    white-space: nowrap;
    line-height: normal;
  }

  .btn-icon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Sizes
  &.small {
    padding: 5px 24px;
    font-size: 9px;
    font-weight: 300;
    min-width: 60px;
  }

  &.medium {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    min-width: 100px;
  }

  &.full-width {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  // Styles
  &.primary {
    border: 1px solid;
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
    color: var(--white-color);

    &:hover {
      filter: brightness(90%);
    }
  }

  &.secondary {
    color: var(--text-color);
    background-color: var(--bg-content-color);
    border: 1px solid transparent;

    &:hover {
      filter: brightness(95%);
    }
  }

  &.circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;

    padding: 0;
    border-radius: 50%;

    overflow: hidden;

    .btn-icon {
      width: 30px;
      height: 30px;
      margin: auto;
      padding: 5px;
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 18px;
      color: var(--text-color);
    }

    &.large {
      width: 50px !important;
      height: 50px !important;
      min-width: 50px;
      min-height: 50px;

      .btn-icon {
        width: 35px;
        height: 35px;
        font-size: 24px;
        line-height: 20px;
      }
    }

    &.medium {
      width: 35px !important;
      height: 35px !important;
      min-width: 35px;
      min-height: 35px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &.outline {
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid var(--border-primary);
    font-weight: 400;

    &:hover {
      border-color: var(--purple-primary);
      color: var(--purple-primary);
    }
  }

  &.active {
    background-color: var(--link-text-hover);
    color: var(--text-color);
    border: none;
  }

  &.column {
    display: flex;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
