.tabs {
  display: flex;
  align-items: center;

  &.is-border-bottom {
    border-bottom: 1px solid var(--border-primary);
  }

  &__item + &__item {
    margin-left: 40px;
  }

  &__item {
    position: relative;
    padding: 15px 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: var(--text-color);
    }

    &.active {
      color: var(--text-item-hover);
      border-bottom: 2px solid var(--text-item-hover);
    }
  }
}
