@import 'assets/styles/mixins';

.player {
  @include position(fixed, bottom-left);
  right: 0;
  z-index: 400;
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: 1920px auto;
  background-color: var(--layout-bg);
  padding: 0 20px;
  height: var(--player-height);
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  > div {
    flex: 1;
  }

  @include media(mobile) {
    padding: 0 5px;
    height: unset;
    bottom: 45px;
    > div {
      flex: auto;
    }
  }
}

.player-left {
}

.player-middle {
  .player-duration {
    &:hover .player-duration__process {
      height: 5px;
      border-radius: 100px;
      cursor: pointer;
    }

    &:hover input {
      display: block;
    }
  }

  .player-duration__process {
    min-width: 460px;
    height: 3px;
    border-radius: 20px;
    background: var(--bg-content-color);
    position: relative;

    input {
      @include position(absolute, center-y);
      left: 0;

      display: none;
      z-index: 5;
      opacity: 12;

      height: 12px;
      width: 100%;
      outline: none;
      border-radius: 2px;

      cursor: pointer;
      will-change: opacity;
      -webkit-appearance: none;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      background-color: transparent;
      -webkit-tap-highlight-color: var(--bg-content-color);
    }

    span {
      @include position(absolute, top-left);
      width: 0;
      height: 100%;
      z-index: 23;
      border-radius: 20px;
      background-color: var(--text-item-hover);
    }
  }

  .player-duration__time {
    width: 55px;
    margin: 0 5px;
    display: block;
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
  }

  @include media(tablet) {
    .player-duration__process {
      min-width: 230px;
    }
  }
}

.player-right {
  &__btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;

    &.large {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__volume {
    min-width: 70px;
    height: 3px;
    border-radius: 20px;
    background: var(--bg-content-color);
    position: relative;

    &:hover {
      height: 5px;
      border-radius: 100px;
      cursor: pointer;

      input {
        display: block;
      }
    }

    input {
      @include position(absolute, center-y);
      display: none;
      left: 0;
      z-index: 5;
      opacity: 12;

      height: 12px;
      width: 100%;
      outline: none;
      border-radius: 2px;

      cursor: pointer;
      will-change: opacity;
      -webkit-appearance: none;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      background-color: transparent;
      -webkit-tap-highlight-color: var(--bg-content-color);
    }

    span {
      @include position(absolute, top-left);

      width: 0;
      height: 100%;
      z-index: 23;
      border-radius: 20px;
      background-color: var(--text-item-hover);
    }
  }

  &__divide {
    height: 33px;
    width: 1px;
    background-color: var(--border-primary);
    margin: 0 20px;
  }

  @include media(tablet) {
    &__volume {
      display: none;
    }
  }

  @include media(mobile) {
    &__btn {
      width: 30px;
      height: 30px;

      &.large {
        svg {
          width: 16px;
          height: 16px;
        }
      }

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.player-controls {
  margin-bottom: 10px;
  @include media(mobile) {
    align-self: flex-end;
    margin-bottom: 0;
  }
}

.player-control {
  color: var(--text-color);
  width: 32px;
  height: 32px;
  margin: 0 7px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
  }

  &.large svg {
    width: 24px;
    height: 24px;
  }

  &.play {
    @include square(40px);
    border: 1px solid var(--text-color);
    border-radius: 50%;

    svg {
      margin-left: 3px;
      width: 26px;
      height: 26px;
    }
  }

  @include media(mobile) {
    margin: 0;

    &.play svg,
    &.large svg {
      width: 32px;
      height: 32px;
    }

    &.play {
      border: none;
    }
  }
}
