@import 'assets/styles/mixins';
@import 'assets/styles/placeholders';

.player {
  @include position(fixed, bottom-left);
  @include flexbox(space-between);

  right: 0;
  z-index: 700;
  background-position: 50%;
  background-repeat: repeat-x;
  background-size: 1920px auto;
  background-color: var(--layout-bg);
  padding: 0 20px;
  height: var(--player-height);
  border-top: 1px solid var(--border-player);

  > div {
    flex: 1;
  }

  &.player-popper {
    background-color: transparent;
    z-index: 1005;
    border: none;

    .player-left,
    .player-right {
      display: none;
    }

    .player-controls {
      order: 1;
      margin-top: 20px;
    }
    .player-duration__process {
      width: 440px;
    }
  }

  @include media-breakpoint(mobile) {
    padding: 0 5px;
    height: unset;
    bottom: 45px;
    > div {
      flex: auto;
    }
  }
}

.player-middle {
  .player-duration__time {
    width: 55px;
    margin: 0 5px;
    display: block;
    font-size: 12px;
    text-align: center;
    color: var(--text-color);
  }

  @include media-breakpoint(tablet) {
    .player-progress__main {
      min-width: 230px;
    }
  }
}

.player-right {
  &__btn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;

    &.active {
      background-color: var(--purple-primary);
      color: #fff;
    }

    &.large {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__volume {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__block {
    width: 70px;
  }

  &__divide {
    height: 33px;
    width: 1px;
    background-color: var(--border-primary);
    margin: 0 20px;
  }

  @include media-breakpoint(tablet) {
    &__block {
      @include position(absolute, center-x);
      background-color: #353535;
      bottom: 100%;
      width: 150px;
      padding: 8px 16px;
      border-radius: 4px;
    }
  }

  @include media-breakpoint(mobile) {
    &__btn {
      width: 30px;
      height: 30px;

      &.large {
        svg {
          width: 16px;
          height: 16px;
        }
      }

      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.player-controls {
  margin-bottom: 10px;
  @include media-breakpoint(mobile) {
    align-self: flex-end;
    margin-bottom: 0;
  }
}

.player-control {
  color: var(--text-color);
  width: 32px;
  height: 32px;
  margin: 0 7px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.active {
    color: var(--purple-primary);
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &.large svg {
    width: 24px;
    height: 24px;
  }

  &--play {
    margin-left: 3px;
  }

  &.play {
    @include square(38px);
    border: 1px solid var(--text-color);
    border-radius: 50%;

    svg {
      width: 26px;
      height: 26px;
    }
  }

  @include media-breakpoint(mobile) {
    margin: 0;

    &.play svg,
    &.large svg {
      width: 32px;
      height: 32px;
    }

    &.play {
      border: none;
    }
  }
}

.player-background {
  @include position(fixed, full);
  background-color: var(--primary-bg);
  transition: 0.7s;
  transform: translateY(100%);

  &.is-show {
    transform: translateY(0);
    z-index: 1000;
  }
}

.player-background__header {
  padding: 20px;
}

.lyrics {
  @include flexbox(center, flex-start, column);
  @extend %scrollbar;

  margin: 0;
  padding: 0;
  list-style: none;
  max-height: calc(100vh - (110px + 82px));

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    padding: 20px 0;
    letter-spacing: -1px;
    color: var(--white);
    font-weight: 700;
    font-size: 46px;
    line-height: inherit;
    line-height: 1.2;
    padding: 15px 0;
  }
}

.lyrics-detail {
  text-align: center;
  color: var(--white);
  font-weight: 700;
  font-size: 60px;
}

.player-progress__main {
  min-width: 460px;
}

.player-progress {
  @include flexbox(space-between, center);

  position: relative;
  height: 18px;

  &::-webkit-slider-thumb {
    width: 1px;
    height: 18px;
    appearance: none;
    cursor: pointer;
    border-radius: 999px;
    -webkit-appearance: none;
    background-color: transparent;
  }

  &__input {
    height: 18px;
    width: 100%;
    opacity: 1;
    z-index: 5;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    will-change: opacity;
    overflow: visible;
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    &::-webkit-slider-thumb {
      opacity: 0;
    }

    &:hover {
      ~ .player-progress__track,
      ~ .player-progress__track .player-progress__update {
        height: 5px;
        border-radius: 100px;
      }

      ~ .player-progress__track .player-progress__update::after {
        display: block;
      }
    }
  }

  &__track {
    position: absolute;
    left: 50%;
    height: 3px;
    width: 100%;
    border-radius: 20px;
    transform: translate(-50%, 0);
    background: var(--bg-content-color);
  }

  &__update {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 20px;
    background-color: var(--text-item-hover);

    &::after {
      content: '';
      position: absolute;
      top: 49.9%;
      right: 0;
      width: 12px;
      height: 12px;
      display: none;
      border-radius: 50%;
      transform: translate(50%, -50%);
      background-color: var(--text-item-hover);
    }
  }
}
