@import 'assets/styles/mixins';

.card-item {
  position: relative;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.09);

  &:hover &__image {
    transform: scale(1.1);
  }

  &__image {
    width: 100%;
    object-fit: cover;
    transition: transform 0.7s;
    border-radius: 8px;
  }

  &__name {
    @include position(absolute, center);

    font-size: 26px;
    margin-bottom: 10px;
    font-weight: 700;
    white-space: nowrap;
    color: var(--white-color);
  }
}
