@import 'assets/styles/mixins';
@import 'assets/styles/placeholders';
$icon-expand-size: 24px;
$padding-icon: 12px;

.menu-item {
  @include flexbox(flex-start);
  @extend %text-truncate;

  position: relative;
  width: 100%;
  padding: 10px 22px;
  color: var(--text-color);
  white-space: nowrap;
  text-decoration: none;
  transition: 0.1s;
  cursor: pointer;

  &.active {
    margin-left: 0;
    background-color: var(--bg-content-color);
    color: var(--text-item-hover);
    border-left: 3px solid var(--text-item-hover);
  }

  &:hover {
    color: var(--text-item-hover);

    .menu-item__expand {
      display: flex;
    }
  }

  // Styles
  &.option {
    padding: 12px 10px;
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: var(--bg-content-color);
      color: var(--text-item-hover);
    }

    .menu-item__icon {
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.capitalize {
    text-transform: capitalize;
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.inherit {
    text-transform: inherit;
  }

  // Sizes
  &.small {
    padding: 8px 20px 8px 14px;
    svg {
      width: 16px !important;
      height: 16px !important;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: $padding-icon;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__label {
    font-size: 10px;
    line-height: 16px;
    width: 34px;
    height: 16px;
    margin-left: 8px;
    border-radius: 4px;
    text-align: center;
    color: var(--white-color);
    background-color: red;
  }

  &__expand {
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);

    align-self: flex-end;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: none;

    &:hover {
      background-color: var(--bg-content-color);
    }

    svg {
      font-size: calc(#{$icon-expand-size} * 0.6);
    }
  }

  &__chevron {
    align-self: flex-end;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: $icon-expand-size;
    height: $icon-expand-size;

    svg {
      font-size: calc(#{$icon-expand-size} * 0.6);
    }
  }

  &.responsive {
    @include media-breakpoint(tablet) {
      border-left: none;
      justify-content: center;
      padding: 10px 0px;

      .menu-item__title {
        display: none;
      }

      .menu-item__icon {
        padding-right: 0;
      }
    }

    @include media-breakpoint(mobile) {
      border-left: none;
      justify-content: center;
      height: 100%;
      padding: 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      .menu-item__icon {
        padding-right: 0;
        width: 16px;
        height: 16px;
      }

      .menu-item__title {
        font-size: 10px;
        font-weight: 300;
        margin-top: 4px;
      }
    }
  }
}
