@import 'assets/styles/placeholders';
@import 'assets/styles/mixins';

.app-container {
  position: relative;
  display: flex;
  overflow: hidden;
  background-repeat: repeat;
  background-size: 1920px auto;
  will-change: scroll-position;
  background-color: var(--layout-bg);
  -webkit-tap-highlight-color: transparent;
  // height: calc(100vh - var(--player-height));
  height: 100vh;
}

.app-content {
  @extend %scrollbar;

  position: relative;
  top: 0;
  flex: 1;
  left: 0;
  right: 0;

  padding: var(--header-height) 4vw 0;

  width: 100%;
  height: 100%;

  @include media-breakpoint(tablet) {
    padding: var(--header-height) 3vw 0 calc(70px + 3vw);
  }

  @include media-breakpoint(mobile) {
    padding: var(--header-height) 10px 0;

    &:hover::-webkit-scrollbar {
      display: none;
    }
  }
}
