.wrapper {
  min-width: 240px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--primary-bg);
  position: absolute;
  box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);

  &.wrapper--search {
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
