@import 'assets/styles/mixins';
@import 'assets/styles/placeholders';
$width-search: 540px;

.header {
  @include flexbox(flex-start);
  @include position(fixed, top-right);

  z-index: 500;
  padding: 0 30px;
  width: calc(100% - 240px);
  height: var(--header-height);

  &.active {
    background-color: var(--layout-bg);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px;
  }

  @include media-breakpoint(mobile-tablet) {
    width: calc(100% - 70px);
  }

  @include media-breakpoint(mobile) {
    width: 100%;
    padding: 0 10px;
  }
}

.header-navigate {
  @include flexbox();
  margin-right: 10px;

  button:last-child {
    margin-left: 0;
  }
}

.header-search {
  width: 100%;
  height: 40px;
  z-index: 300;
  display: flex;
  align-items: center;
  max-width: $width-search;
  border-radius: 20px;
  color: var(--white-color);
  border: 1px solid transparent;
  background: var(--bg-content-color);
  position: relative;

  &.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--primary-bg);
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
  }

  &__list {
    max-height: 300px;
    @extend %scrollbar;
  }

  &__title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: var(--text-color);
    padding: 0 10px 8px;
    margin: 0;
  }

  &__btn {
    @include position(absolute, top-left);

    order: 1;
    z-index: 400;
    height: 38px;
    display: flex;
    border-top-left-radius: 20px;
    background-color: transparent;
    color: var(--placeholder-text);
    border-bottom-left-radius: 20px;
    -webkit-tap-highlight-color: transparent;
  }
  &__icon {
    display: block;
    margin: auto;
    cursor: pointer;
    font-size: 36px;
    padding: 1px 9px 1px;
  }

  &__close,
  &__loading {
    @include position(absolute, center-y);
    right: 0;
    color: var(--text-color);
    width: 16px;
    height: 16px;
    margin-right: 12px;
    cursor: pointer;
    z-index: 400;

    svg {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
    }
  }

  &__loading {
    svg {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      animation: spinner 800ms linear infinite;
    }
  }
}

.header-search__input {
  position: absolute;
  top: 0;
  flex: 1;
  order: 2;
  left: 38px;
  border: none;
  z-index: 400;
  height: 38px;
  outline: none;
  overflow: hidden;
  line-height: 40px;
  font-size: 14px;
  padding: 0 9px 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: transparent;
  width: calc(100% - 38px);
  color: var(--text-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  &:focus::placeholder {
    color: var(--placeholder-text);
    opacity: 1;
  }

  &:focus ~ .header__search-btn {
    color: var(--text-color);
  }

  &:focus ~ .header__search-btn .header__search-icon {
    -webkit-text-stroke: 0.5px var(--primary-bg);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    color: var(--placeholder-text);
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--placeholder-text);
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-text);
  }
}

.header-nav {
  margin-left: auto;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 15px 0;
}

.header-nav__item {
  margin-right: 10px;
  -webkit-tap-highlight-color: transparent;
}

.header-nav__item:last-child {
  margin-right: 0;
  padding: 1px 0;
}

.header-nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  margin: auto;
  outline: none;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: var(--bg-content-color);
}

#header-nav__input {
  display: none;
}

.header__nav-btn {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav__icon {
  width: 30px;
  height: 30px;
  margin: auto;
  padding: 5px;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  color: var(--text-color);
}

.header__nav-icon:before {
  display: block;
  width: 100%;
  line-height: 10px;
}

.header__setting {
  position: relative;
  width: 240px;
}

.header__avatar {
  width: 340px;
}
.header-avatar {
  &__img {
    width: 64px;
    height: 64px;
    border-radius: 100px;
  }

  &__info {
    h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: var(--text-color);
    }
  }
}

.modal-theme {
  @include position(absolute, center);

  width: 70%;
  max-width: 900px;
  min-height: 500px;
  max-height: calc(100vh - 60px);

  overflow: hidden;
  border-radius: 8px;
  background-color: var(--primary-bg);
  z-index: 600;

  @include media-breakpoint(mobile) {
    width: 90%;
    border-radius: 0;
  }
}

.theme-header {
  h3 {
    font-size: 24px;
    padding: 20px 30px;
    margin: 0;
    color: var(--text-color);
    font-weight: 700;
    text-transform: capitalize;
    display: block;
  }
}
.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  svg {
    display: block;
    padding: 8px;
    font-size: 44px;
    color: var(--text-color);
    -webkit-text-stroke: 1px var(--primary-bg);
  }
}

.theme-container {
  @extend %scrollbar;

  width: 100%;
  height: 500px;

  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 30px;

  &__title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  &__overlay {
    content: '';
    @include position(absolute, full);
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: 0.7s;
    z-index: 1;
  }

  &__inner {
    @include position(absolute, center);

    z-index: 2;
    width: calc(100% - 36px);

    display: none;
    flex-direction: column;
    align-items: center;
  }
}

.theme-item + .theme-item {
  margin-top: 30px;
}

.theme-container__item {
  position: relative;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.12);
    }

    .theme-container__overlay {
      display: block;
    }

    .theme-container__inner {
      display: flex;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
  }
}

.search-card {
  @include flexbox(flex-start);
  padding: 10px 8px;
  border-radius: 6px;

  &:hover {
    background-color: var(--bg-content-color);
    cursor: pointer;
  }

  &__img {
    width: 52px;
    height: 52px;
    overflow: hidden;
    margin-right: 10px;
  }

  &__info {
    @include flexbox(flex-start, flex-start, column);
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
    margin-bottom: 4px;
  }

  &__desc {
    font-size: 12px;
    color: var(--text-secondary);
    margin: 0;
  }
}
