@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.artist-panel {
  width: 1024px;
  margin: 0 auto;

  &__content {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white-color);
  }
}

.panel-info {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: var(--white-color);

  &__avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }

  &__name {
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
  }

  &__icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    margin-left: 10px;

    svg {
      font-size: 24px;
      color: var(--text-color);
    }
  }

  &__title {
    font-size: 13px;
    margin: 0;
  }

  &__number {
    margin: 0;
    font-style: 24px;
  }
}

.artist-panel__list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;

  li + li {
    margin-left: 58px;
  }

  li {
    font-size: 20px;
    padding-bottom: 12px;
    font-weight: 500;
    border-bottom: 2px solid transparent;

    &:hover {
      cursor: pointer;
      color: $artist-primary;
    }
  }

  li.active {
    cursor: pointer;
    color: $artist-primary;
    border-bottom: 2px solid;
  }
}

.panel-album {
  &__wrapper {
    position: relative;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      .panel-album__actions {
        display: flex;
      }

      .panel-album__overlay {
        opacity: 1;
      }
    }
  }

  &__actions {
    @include position(absolute, center);
    display: none;
  }

  &__icon {
    @include flexbox();
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &.large {
      svg {
        font-size: 20px;
      }
    }

    svg {
      font-size: 16px;
      color: var(--white-color);
    }
  }

  &__overlay {
    @include position(absolute, full);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  &__info {
    margin-top: 4px;
    color: $artist-subtext;
    h2 {
      font-size: 16px;
      color: $artist-text;
      margin: 0;
      margin-bottom: 8px;
    }
  }
}

.panel-album__add {
  height: 100%;
  border-radius: 4px;
  background-color: $artist-primary;
  color: var(--white-color);

  &:hover {
    cursor: pointer;
  }

  svg {
    font-size: 60px;
  }

  span {
    font-size: 14px;
  }
}

.modal-albums {
  @include position(absolute, center);

  width: 650px;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--white-color);

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: $artist-text;
  }

  &__img {
    @include flexbox();
    width: 160px;
    height: 160px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    background-color: rgb(246, 246, 246);
    color: $artist-subtext;
    margin-right: 16px;
    cursor: pointer;
  }

  &__upload {
    @include position(absolute, bottom-left);
    @include flexbox();

    height: 28px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--white-color);
  }
}
