.personal {
  &__header {
    margin-bottom: 60px;
  }

  &__title {
    margin: 0;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.9rem;
    color: var(--text-item-hover);
  }

  &__play {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 36px;
    height: 36px;

    cursor: pointer;
    border-radius: 50%;
    background-color: var(--purple-primary);
    font-size: 27px;
    color: var(--white-color);
  }
}
