@import 'assets/styles/mixins';
@import 'assets/styles/placeholders';

$line-clamp: 1;
$image-size: 40px;
$width-checkbox: 20px;

.media-wrapper {
  &.show-action {
    .media-wrapper__action {
      display: flex;
    }

    .media-wrapper__song,
    .media-wrapper__sort {
      font-size: 0px;
    }

    @include media-breakpoint(mobile) {
      .media-wrapper__action {
        margin-left: 6px;
      }
      .media-wrapper__sort {
        display: none;
      }
      .media-wrapper__amount {
        font-size: 0px;
      }
    }
  }
}

.media-wrapper__header {
  position: relative;
  width: 100%;
  height: 46px;
  padding: 10px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  color: var(--text-secondary);
  text-transform: uppercase;
  box-shadow: 0 1px 2px var(--bg-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  .media-wrapper__song {
    width: 54%;
  }

  .media-wrapper__sort {
    font-size: 9px;
    border: 1px solid var(--text-secondary);
    border-radius: 3px;
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 0 2px;
    cursor: pointer;
  }

  .media-wrapper__action {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin-left: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
    display: none;
  }

  .media-wrapper__checkbox {
    position: relative;
    width: $width-checkbox;
    height: 100%;
  }

  .media-wrapper__add {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-item-hover);
    background-color: transparent;
    border: 1px solid var(--text-item-hover);

    padding: 2px 10px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;

    span {
      margin-top: 1px;
      font-size: 10px;
      line-height: 15px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
    }

    svg {
      margin-right: 4px;
      font-size: 12px;
    }
  }

  .media-wrapper__option {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    border: 1px solid var(--text-item-hover);
    border-radius: 100px;

    width: 22px;
    height: 22px;
    padding: 0;
    margin: 0;

    outline: none;
    cursor: pointer;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    svg {
      font-size: 13px;
    }
  }
}

.media-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  &--all {
    display: block;
    margin-top: 2px;
  }

  &__input {
    display: none;
  }

  input[type='checkbox']:checked + label:after {
    filter: alpha(opacity=100);
    opacity: 1;
  }

  &__label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid var(--text-secondary);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: transparent;

    &:hover::after {
      filter: alpha(opacity=0);
      opacity: 0;
    }

    &::after {
      content: '';
      filter: alpha(opacity=0);
      opacity: 0;
      position: absolute;
      width: 8px;
      height: 5px;
      background: transparent;
      top: 5px;
      left: 3px;
      border: 2px solid #fcfff4;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
    }
  }
}

// Media Item
.media-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  border-radius: 5px;

  cursor: pointer;
  box-shadow: 0 1px 1px var(--bg-color);
  -webkit-tap-highlight-color: transparent;

  &:hover {
    background-color: var(--bg-content-color);
    cursor: pointer;

    .media-right {
      display: flex;
    }

    .media-middle {
      display: none;
    }

    .media-checkbox,
    .media-left__icon--play {
      display: block;
    }

    .media-left__overlay {
      visibility: visible;
    }

    .media-left__music {
      display: none;
    }
  }

  &.active {
    background-color: var(--bg-content-color);
    cursor: pointer;
    .media-left__icon--play {
      display: block;
    }
    .media-left__overlay {
      visibility: visible;
    }
    .media-left__icon--playing {
      display: none;
    }
  }

  &.primary {
    background-color: var(--link-text-hover);
    cursor: pointer;
  }

  &.playing {
    .media-left__icon--play {
      display: none;
    }
    .media-left__overlay {
      visibility: visible;
    }
    .media-left__icon--playing {
      display: block;
    }
  }

  &.playing:hover {
    .media-left__icon--play {
      display: none;
    }
  }

  &.checked {
    background-color: var(--bg-content-color);
    cursor: pointer;

    .media-checkbox {
      display: block;
    }

    .media-left__music {
      display: none;
    }
  }

  &.ignore {
    .media-left__icon,
    .media-left__overlay {
      display: none !important;
    }
  }

  &.ignore:hover {
    background-color: transparent;
  }

  &.is-border {
    border-bottom: 1px solid var(--bg-content-color);
  }

  &.is-player {
    background-color: transparent;
    $image-size: 64px;

    .media-left {
      flex-grow: 1;
      flex-shrink: 1;
    }

    .media-middle {
      display: none;
    }

    .media-right {
      display: flex;

      &__option--mic {
        display: none;
      }
    }

    .media-left__wrapper {
      width: $image-size;
      height: $image-size;
    }

    @include media-breakpoint(tablet) {
      .media-left__wrapper {
        width: $image-size;
        height: $image-size;
      }

      .media-right {
        display: flex;

        &__option--more {
          display: none;
        }
      }
    }

    @include media-breakpoint(mobile) {
      $image-size: 40px;

      .media-left__wrapper {
        width: $image-size;
        height: $image-size;
      }

      .media-left__image {
        border-radius: 50%;
      }

      .media-right {
        &__option {
          margin: 0;

          svg {
            margin-top: 0;
            font-size: 18px;
            color: var(--text-color);
          }

          &--more {
            display: none;
          }
        }
      }
    }
  }

  &.grow {
    .media-left {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  // Style for media item
  &.release {
    .media-left {
      flex-grow: 1;
      flex-shrink: 1;
    }
    .media-left__wrapper {
      width: 60px;
      height: 60px;
    }
  }

  &.rank {
    background-color: var(--bg-content-color);
    padding: 15px;

    $image-size: 120px;

    .media-left__wrapper {
      width: $image-size;
      height: $image-size;
    }

    .media-left {
      margin: 0;
      flex: 1;
    }

    .media-left__rank {
      display: flex;
    }

    .media-left__content {
      height: $image-size;
      flex: 1;
    }
  }

  @include media-breakpoint(mobile) {
    padding: 6px;
  }
}

.media-left {
  display: flex;
  width: 50%;
  align-items: center;
  margin-right: 10px;
  overflow: hidden;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  height: 100%;
  cursor: default;

  &__box {
    position: relative;
    margin-right: 10px;
    min-width: $width-checkbox;
  }

  &__inner {
    @include flexbox(flex-start);
    flex: 1;
  }

  &__music {
    color: var(--text-secondary);
    font-size: 16px;
    margin-left: 2px;
  }

  &__index {
    height: 100%;
    display: flex;
    cursor: default;
    margin-right: 22px;
    align-items: center;
  }

  &__separator {
    font-size: 12px;
    color: var(--text-secondary);
  }

  &__order {
    width: 68px;
    margin: 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
    text-align: center;
    color: transparent;
    white-space: nowrap;
    -webkit-text-stroke: 1.5px var(--text-color);
    font-family: 'Roboto', sans-serif;

    &--secondary {
      width: unset;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
  }

  &__rank {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    display: none;
  }

  &__day {
    font-size: 14px;
    color: var(--text-secondary);
  }

  &__wrapper {
    position: relative;
    width: $image-size;
    height: $image-size;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);

    &--play,
    &--playing {
      display: none;
    }

    svg {
      font-size: 24px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
  }

  @include media-breakpoint(tablet) {
    flex: 1;
  }

  @include media-breakpoint(mobile) {
    flex: 1;

    &__index {
      margin-right: 10px;
    }

    &__order {
      width: 48px;
      font-size: 28px;
    }

    &__separator {
      display: none;
    }
  }
}

.media-album {
  flex: 1;
  color: #999;
  font-size: 12px;
  text-align: left;

  a:hover {
    color: var(--text-item-hover);
    text-decoration: underline;
  }
}

.media-middle {
  text-align: right;
  align-self: center;
  color: #999;
  font-size: 12px;
  text-align: center;

  @include media-breakpoint(tablet) {
    flex: 0;
    flex-basis: 20%;
  }

  @include media-breakpoint(mobile) {
    display: none;
  }
}

.media-right {
  display: flex;
  flex-basis: auto;
  justify-content: flex-end;

  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  display: none;

  &__option {
    @include flexbox();
    width: 32px;
    height: 32px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
    color: var(--text-color);
    background-color: transparent;

    &:hover {
      background-color: var(--bg-content-color);
    }

    &--more svg:last-child {
      display: none;
    }

    > svg {
      margin-top: 2px;
      font-size: 14px;
      color: var(--text-color);
    }
  }

  @include media-breakpoint(mobile) {
    display: flex;

    &__option {
      display: none;
    }

    &__option--more {
      display: flex;

      svg {
        margin-top: 0px;
        font-size: 16px;
      }

      svg:last-child {
        display: block;
      }

      svg:first-child {
        display: none;
      }
    }
  }
}

.media-right__wrapper {
  width: 280px;
}

.media-popper__group {
  border-radius: 8px;
  font-size: 10px;
  background-color: var(--bg-content-color);
  color: var(--text-color);
}

.media-popper__item {
  border-radius: 8px;
  padding: 8px 0;

  &:hover {
    color: var(--text-item-hover);
    background: var(--bg-content-color);
  }

  > svg {
    font-size: 16px;
    margin-bottom: 3px;
  }
}

.media-title {
  @extend %text-truncate;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color);
  margin: 0;

  @include media-breakpoint(mobile) {
    font-size: 13px;
    line-height: 17px;
  }
}

.media-description {
  @include flexbox(flex-start);
  flex-wrap: wrap;
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  margin: 3px 0 0;
  font-weight: 400;
  color: var(--text-secondary);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;

  @include media-breakpoint(mobile) {
    font-size: 12px;
    line-height: 15px;
  }

  a {
    color: var(--text-secondary);
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--purple-primary);
    }
  }
}
