@import 'assets/styles/mixins';
@import 'assets/styles/variables';
.artist-layout {
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  will-change: scroll-position;
  -webkit-tap-highlight-color: transparent;

  .block {
    margin: 0 auto;
    width: 1024px;
  }

  @include media-breakpoint(tablet) {
    .block {
      width: 100%;
      padding: 0 20px;
    }
  }

  @include media-breakpoint(mobile) {
    .block {
      padding: 0 12px;
      width: 100%;
    }
  }
}

.artist-layout__content {
  height: 100%;
  overflow: hidden;
}

.register-form {
  padding: 20px;
}

.register-group {
  + .register-group {
    margin-top: 16px;
  }

  label {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: $artist-text;
    margin-bottom: 6px;
  }

  input,
  select,
  textarea {
    outline: none;
    border: 1px solid $artist-border;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 4px;

    width: 100%;
  }
}
