@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@import '~bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'assets/styles/placeholders';

:root {
  --black-color: #000;
  --bg-content-color: rgba(255, 255, 255, 0.1);
  --border-box: rgba(255, 255, 255, 0.2);
  --border-primary: rgba(255, 255, 255, 0.1);
  --layout-bg: #170f23;
  --link-text-hover: #c662ef;
  --main-box-shadow: rgba(66, 66, 66, 0.4);
  --modal-scrollbar: rgba(41, 21, 71, 0.8);
  --navigation-text: #dadada;
  --placeholder-text: #dadada;
  --player-bg: rgba(0, 0, 0, 0.2);
  --primary-bg: #432275;
  --purple-primary: #7200a1;
  --sidebar-bg: rgba(255, 255, 255, 0.05);
  --sidebar-popup-bg: #2a213a;
  --tab-active-color: rgba(255, 255, 255, 0.3);
  --text-color: #fff;
  --text-item-hover: #fff;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --white-color: #fff;
  --player-height: 90px;
  --header-height: 70px;
  --sidebar-height: calc(100% - var(--player-height));
  --offset-x-second: calc(0px - ((230px - (230px * var(--scale-rate-second))) / 2 + 20px));
  --offset-x-third: calc(0px - ((230px - (230px * var(--scale-rate-third))) / 2 + 40px));
  --scale-rate-second: calc(196 / 230);
  --scale-rate-third: calc(162 / 230);
}

* {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  word-wrap: break-word;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  background: var(--layout-bg);
}

i {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.7s;
}

@media (min-width: 992px) {
  .custom-column-5 {
    width: calc(100% / 5);
    flex: 0 0 calc(100% / 5);
    max-width: calc(100% / 5);
  }

  .custom-column-7 {
    width: calc(100% / 7);
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
  }
}

.line-separator {
  height: 1px;
  background-color: var(--bg-content-color);
  width: calc(100% - 24px);
  margin: 10px auto;
}
.vertical-separator {
  height: 100%;
  min-height: 34px;
  width: 1px;
  background-color: var(--bg-content-color);
  margin: 0 20px;
  display: block;
}

.is-40x40 {
  width: 40px;
  height: 40px;
}

.is-64x64 {
  width: 64px;
  height: 64px;
}

.is-border-bottom {
  border-bottom: 1px solid var(--border-primary);
}

.is-bg-content {
  background-color: var(--sidebar-bg);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-bg);
}

/* Main CSS */
.outline--blue {
  -webkit-text-stroke: 1px #4a90e2;
}
.outline--green {
  -webkit-text-stroke: 1px #50e3c2;
}
.outline--red {
  -webkit-text-stroke: 1px #e35050;
}
.outline--text {
  -webkit-text-stroke: 1.5px var(--text-color);
  opacity: 0.7;
}

.no-content-image {
  width: 90px;
  height: 90px;
  background: url('https://zjs.zadn.vn/zmp3-desktop/releases/v1.3.18/static/media/music-icon.cfa4aa91.svg') no-repeat
    center center / contain;
  margin-bottom: 20px;
}

.tabs {
  &__list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
  }

  &__item + &__item {
    margin-left: 40px;
  }

  &__item {
    position: relative;
    padding: 15px 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: var(--text-color);
    }

    &--active {
      color: var(--text-item-hover);
      border-bottom: 2px solid var(--text-item-hover);
    }
  }
}
